@media screen and (max-width: 1400px){
.card{
    min-width: 280px !important;
}
}
@media screen and (max-width: 1366px){
footer input[type="email"],input[type="submit"]{
    padding: 10px 30px;
}

}

@media screen and (max-width: 1166px){
  header.Birthday{
    height: auto;
  }
 
   footer p{
    margin-bottom: 50px;
   }
   .copyRight{
    margin-top: 50px;
   }
    .headerContent{
        position: absolute;
        max-width: 850px;
    left:5%;
      top: 4%;
   }
   .feedback .row{
     .card{
       margin-bottom: 20px; 
    }
    
   }
   .Birthday{
    padding-bottom: 60px;
    height: auto;
   }
   
}
@media screen and (max-width: 995px){
    .navContent div{
        margin: auto !important;
    }
.about h2,.about2 h2{
    margin-top: 7%;
}

header.Birthday .container h2{
    font-size: 80px;
}

header.Birthday .container h2:hover{
    font-size: 90px;
}
}
@media screen and (max-width: 800px){
    header.Birthday .container h2{
        font-size: 70px ;
        padding-top: 40%;
        padding-left: 15%;
    }
    header.Birthday .container h2:hover{
    font-size: 50px;
}}
@media screen and (max-width: 560px){
    .navbar{
        position: fixed;
        top: 74px;
    }
     header.Birthday .container h2{
        padding-top: 50%;
        padding-left: 15%;
    }
    header.Birthday .container .advanceFont{
    font-size: 80px !important;
}
     
}
@media screen and (max-width: 772px){
   .card img,.card{
        width: 100% ;
    }
    
    footer{
        text-align: center;
    }
    footer p{
        text-align: center;
    }
    .imgFooter{
        margin: auto;
        margin-bottom: 20px;
    }
    .headerContent h1{
        font-size: 40px;
    }
    .headerContent{
        position: absolute;
        top: 3%;
    }
    .headerContent h2{
        font-size: 30px;
    }
    .section2 h2{
        font-size: 30px;
    }
 header.Birthday .container h2{
    font-size: 60px;
}
header.Birthday .container h2:hover{
    font-size: 62px;
}
   header.Birthday .container .advanceFont{
    font-size: 80px !important;
}
}

@media screen and (max-width: 445px){
     header.Birthday .container h2{
        font-size: 40px ;
        padding-top: 70%;
        padding-left: 15%;
    }
    header.Birthday .container h2:hover{
    font-size: 50px;
}
input[type="email"],input[type="password"],input[type="text"],input[type="submit"]{
    padding: 10px 40px;
}
.aboutContent h2{
    font-size: 40px;
}
}
@media screen and (max-width: 395px){
input[type="email"],input[type="password"],input[type="text"],input[type="submit"]{
    padding: 10px 30px;
}
}
@media screen and (max-width: 380px){
   input[type="email"], input[type="password"],input[type="text"],input[type="submit"]{
    padding: 10px 20px;
}
   header.Birthday .container .advanceFont{
    font-size: 60px !important;
}
}
@media screen and (max-width: 340px){
   footer input[type="email"]{
        padding: 5px 30px;
    }
   .carousel-inner img{
    height: 100vh;
   }
   .headerContent h2{
    font-size: 25px;
   }
   .headerContent p{
    font-size: 20px;
   }
   header.Birthday .container h2{
    font-size: 30px;
    padding-top: 190px !important;
}
.announce{
    font-size: 16px;
}
}
@media screen and (max-width: 290px){
   header.Birthday .container .advanceFont{
    font-size: 40px !important;
}
.announce{
    font-size: 13px;
}
}
