@media screen and (max-width: 1166px){
  
   footer p{
    margin-bottom: 50px;
   }
   .copyRight{
    margin-top: 50px;
   }
    .headerContent{
        position: absolute;
        max-width: 850px;
    left:5%;
    top:0% ;
   }
}
@media screen and (max-width: 995px){


.about h2,.about2 h2{
    margin-top: 7%;
}}
@media screen and (max-width: 560px){
    .navbar{
        position: fixed;
        top: 74px;
    }
}
@media screen and (max-width: 772px){
   .card img,.card{
   
        width: 100% ;
    }
    
    footer{
        text-align: center;
    }
    footer p{
        text-align: center;
    }
    .imgFooter{
        margin: auto;
        margin-bottom: 20px;
    }
    .headerContent h1{
        font-size: 40px;
    }
    .headerContent{
        position: absolute;
        top: 3%;
    }
    .headerContent h2{
        font-size: 30px;
    }
    .section2 h2{
        font-size: 30px;
    }

}
@media screen and (max-width: 380px){
    input[type="email"]{
        padding: 5px 50px;
    }
}
@media screen and (max-width: 340px){
    input[type="email"]{
        padding: 5px 30px;
    }
   .carousel-inner img{
    height: 100vh;
   }
   .headerContent h2{
    font-size: 25px;
   }
   .headerContent p{
    font-size: 20px;
   }
}
